<%= form_with model: proponent, local: true, class: "needs-validation" do |form| %>
  <div class="mb-3">
    <%= form.label :name, 'Nome', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :documents, 'Documento', class: 'form-label' %>
    <%= form.text_field :documents, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :salary, 'Salário (R$)', class: 'form-label' %>
    <%=
      form.number_field :salary,
                        step: 0.01,
                        class: 'form-control',
                        id: 'salary-input'
    %>
  </div>

  <%= form.fields_for :addresses do |address_fields| %>
    <div class="mb-3">
      <%= address_fields.label :street, 'Logradouro' %>
      <%= address_fields.text_field :street, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= address_fields.label :number, 'Número' %>
      <%= address_fields.text_field :number, class: 'form-control' %>
    </div>
  <% end %>

  
  <%= form.fields_for :contacts do |contact_fields| %>
    <% proponent.contacts.each_with_index do |contact, index| %>
      <div class="row g-2">
        <div class="col-md-4">
          <%= contact_fields.label :contact_type, 'Tipo' %>
          <%= contact_fields.select :contact_type,
                                    [
                                      'Telefone Residencial',
                                      'Celular',
                                      'WhatsApp',
                                      'Email',
                                    ],
                                    { selected: contact.contact_type },
                                    class: 'form-select'
          %>
        </div>
        <div class="col-md-6">
          <%= contact_fields.label :value, 'Contato' %>
          <%= contact_fields.text_field :value, value: contact.value, class: 'form-control' %>
        </div>
        <div class="col-md-2">
           <%= link_to 'Remover', proponent_contact_path(contact), method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Adicionar Contato', new_contact_proponent_path(proponent), class: 'btn btn-primary' %>

  <div class="mb-3">
    <%= form.label :inss_discount, 'Desconto INSS (R$)', class: 'form-label' %>
    <%=
      form.text_field :inss_discount,
                      class: 'form-control',
                      readonly: true,
                      id: 'inss-field'
    %>
  </div>

  <div class="d-flex justify-content-between">
    <%=
      link_to(
        'Cancelar',
        proponent.persisted? ? proponent_path(proponent) : proponents_path,
        class: 'btn btn-secondary',
      )
    %>
    <%=
      form.submit(
        proponent.persisted? ? 'Atualizar' : 'Salvar',
        class: "btn btn-#{proponent.persisted? ? 'warning' : 'primary'}",
      )
    %>
  </div>
<% end %>
