<h1 class="mb-4 text-center">Proponentes</h1>

<div class="d-flex justify-content-between mb-3">
  <%= link_to "Novo Proponente", new_proponent_path, class: "btn btn-primary" %>
  <%= link_to "📊 Relatório Salarial", salary_report_proponents_path, class: "btn btn-outline-secondary" %>
</div>


<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th>Nome</th>
        <th>Documento</th>
        <th>Salário</th>
        <th>Desconto INSS</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @proponents.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.documents %></td>
          <td><%= number_to_currency(p.salary, unit: 'R$ ') %></td>
          <td><%= number_to_currency(p.inss_discount, unit: 'R$ ') %></td>
          <td>
            <%=
              link_to 'Ver',
                      proponent_path(p),
                      class: 'btn btn-sm btn-outline-primary'
            %>
            <%=
              link_to 'Editar',
                      edit_proponent_path(p),
                      class: 'btn btn-sm btn-outline-warning'
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @proponents, class: 'pagination justify-content-center' %>
